
<div class="navigation">
  <!-- <button routerLink="/results"> YOUR RESULTS</button> -->
  <a href="/results"><button id="real" class="practice">YOUR RESULTS</button></a>
  <button>ASSESSMENT</button>
  <button>COMPLETED</button>
</div>
<div class="container">
  <div class="photo">
    <img src="/assets/test.jpg" alt="">
  </div>
  <div class="main">
    <h5>NestedList:Python</h5>
    <span><img src="/assets/time.png" class="time">
      Time Limit</span>
    <br>
    <button class="status">NOT STARTED</button>

  </div>
  <div class="timeLimit">
    <span>
      <img src="/assets/time.png" class="time">
      Duration</span>
  </div>
  <div class="action">
    <a href="/practise-test"><button id="real" class="practice">PRACTICE</button></a>
    <a href="/take-test"><button id="real" class="real">START ASSESSMENT</button></a>
  </div>
</div>
