
.container {
  padding-top: 70px;
  text-align: center;
}

h2 {
  text-align: center;
  color: #F35011;
}

.container1 {
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
  padding: 5vh;
  border-radius: 8px;
  display: block;
  height: auto;
  background: white;
  backdrop-filter: blur(10px)
}

h5 {
  padding-left: 2vh;
}

.containerone {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.containerone input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.containerone:hover input~.checkmark {
  background-color: #ccc;
}

.containerone input:checked~.checkmark {
  background-color: #F35011;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerone input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerone .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.question-remaining {
  text-align: center;
}

.card {
  background: inherit;
}

.timer {
  text-align: end;
}

.bottom {
  float: right;
}

button {
  justify-content: center;
  background-color: #F35011;
  /* float: right; */
  margin: 2vh;
  border-radius: 8px;
}

.code-editor {
  background: white;
  padding: 5vh;
  margin-top: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;

}

.codearea {
  width: 110vh;
  float: right;

}

.cardone {
  max-width: 60vh;
  height: 60vh;
  background-color: #eee;
}